build/*
adaptSpotEnergies
adaptSpotEnergies.sublime-workspace
test/results

test/P15_base_plan/out_base_plan/

test/P15_base_plan/out_base_plan_mha/

test/P15_base_plan_simple/

test/adapt_data_P15/

*.mha

*.raw

test/Screenshot\.png

\.Rhistory

test/P15_base_plan/out_base_plan_ct/

utils/

src/extra/\.idea/

test/

src/extra/__pycache__/

testadaptation/
